

.van-index-bar {
  &__index {
    padding: 3px;
    font-size: 13px;
  }
}

.van-index-bar__sidebar {
  margin-top: 20px;
}

.van-index-anchor {
  background-color: #f5f5f5;
}

.van-grid-item__content {
  padding: 0;
}


.van-cell-group__title {
  color: #666;
}